	
<h1>Fruit Town</h1>
	<h2>Welcome to garden and growing patch here at Berryfarm. Here you will learn about different fruits, they are very good for us.</h2>
	<br>
  <p>Let's start the quiz. This quiz will ask you some questions about the fruits looked at in the activity. Good luck!</p>
  <p>At the end of the quiz, you will be able to submit all of your answers - so be sure to double check your answers before submission</p>
	
  <h3>1.</h3> What colour is a blueberry?
	      
		  Select a colour<p id="question">Please select a colour.</p>

	    <button type="button" onclick='document.getElementById("question").innerHTML = "You have selected the answer - RED"'>Red</button>
		  <button type="button" onclick='document.getElementById("question").innerHTML = "You have selected the answer - GREEN"'>Blue</button>
	    <button type="button" onclick='document.getElementById("question").innerHTML = "You have selected the answer - BLUE"'>Green</button>

<button type="submit" onclick="">Finish and Submit</button>