.header{

  width: 100%;
  background-color: rgb(35, 211, 255);
  height: 100px;
  margin-top: 25px;
}

.header h2{

  color: #fff;
  padding: 25px;
}

button {

  padding: 20px, 30px;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

form{

  width: 70%;
  margin: 20px 10px 10px 10px;
}