<!--Form for Sign-in page-->
<div class="container">
    <div class="header">
      <h2>
        Please sign in
      </h2>
    </div>

  <form class="form-signin">
    <!--button will check user inputs against information on system-->
    <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <br>
    <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <!--button which on click will start the validate function-->
    <button class="btn btn-success" (click)="validate()" type="button">Sign in</button>
  </form>