<!--The content below is only a placeholder and can be replaced.-->
<div>
 <h1>
    Welcome to {{ title }}!
 </h1>
  	 <!--NAVIGATION BAR-->
	<div ng-app="router">
    <nav class="navbar navbar-expand-sm">
     <ul class="navbar-nav">
	  <li class="nav-item"><a class="nav-link"  href="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link"  href="/signup">Sign-up</a></li>
      <li class="nav-item"><a class="nav-link"  href="/fruits">Food</a></li>
      <li class="nav-item"><a class="nav-link"  href="/maths">Maths</a></li> 
      <li class="nav-item"><a class="nav-link"  href="/science">Science</a></li>
    </ul>
	</nav>
    </div>
<router-outlet></router-outlet>
