.header{
    width: 100%;
    background-color: orangered;
    height: 100px;
    margin-top: 25px;
}
 
.header h2{
    color: #fff;
    padding: 25px;
    font-size: 50px;
}

.header h4 {
    font-style: italic;
    padding-right: 30x;
}
 
form {
    padding: 50px;
    background-color: mintcream;
    border: 3px solid green;
}

button {
    background-color: gray; 
    color: white;
    
    padding: 20px, 30px;
    font-size: 20px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
  
    cursor: pointer;
}

.jumbotron {
  font-size: 30px;
}
 
li {
   width: 100%;
}

span {
    padding: 20px;
    font-size: 20px;
}

.del {
    color: red;
    font-style: italic;
    cursor:pointer;
}

.checkbox {
    font-style: oblique;
}