<div class="row">
  <div class="col s8 offset s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
           <h2>User Registration</h2>
              <form class="class col s12 white" #userRegistrationForm="ngForm">
              <div class="row">
                 <div class="input-field col s6">
       
           <input class="validate" type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required>
           <label data-error="required field">Username</label>
       
           <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
           <label data-error="required field">Password</label>
       
           <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailValidate">
           <label data-error="Invalid Email Address.">Email</label>
       
           <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName">
           <label>First Name</label>
       
           <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName">
           <label>Last Name</label>
       
                <div class="input-field col s6"></div>
                <button [disable]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
               </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>